<div class="form-container">
    <h2 class="center">Login Form</h2>
    <div class="center">
        <label for="username">Username
            <input type="text" name="username" [(ngModel)]="username">
        </label>
    </div>
    <br>
    <div class="center">
        <label for="password">Password
            <input type="password" name="userpassword" id="admin" [(ngModel)]="userpassword">
        </label>
    </div>
    <br>
    <div class="center">
        <button type="submit" class="loginbtn" (click)="onLoggedIn(username,userpassword)">Log In</button>
    </div>
</div>