<form class="row g-3 needs-validation" novalidate #userForm="ngForm">
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Name</label>
        <input type="text" name="name" #name="ngModel" [(ngModel)]="userObj.name" class="form-control" minlength="3"
            required>
        <div class="text-danger" *ngIf="name.invalid && (name.touched || name.dirty) || isFormSubmitted">
            <span *ngIf="name.errors?.['required']">This Is Required</span>
            <span *ngIf="name.errors?.['minlength']">Min 3 Charactors Needed</span>
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">Email</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
            <input type="text" name="email" #email="ngModel" [(ngModel)]="userObj.email"
                pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" class="form-control" required>
        </div>
        <div class="text-danger" *ngIf="email.invalid && (email.touched || email.dirty) || isFormSubmitted">
            <span *ngIf="email.errors?.['required']">Required</span>
            <span *ngIf="email.errors?.['pattern']">Email Id is Not Proper</span>
        </div>
    </div>
    <div class="col-md-4">
        <label for="validationCustomUsername" class="form-label">Username</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
            <input type="text" name="userName" #userName="ngModel" [(ngModel)]="userObj.userName" class="form-control"
                required>
        </div>
        <div class="text-danger" *ngIf="userName.invalid && (userName.touched || userName.dirty) || isFormSubmitted">
            <span *ngIf="userName.errors?.['required']">Required</span>
        </div>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" name="isAggree" #isAgree="ngModel" [(ngModel)]="userObj.isAggree"
                type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
                Agree to terms and conditions
            </label>
            <div class="text-danger" *ngIf="isAgree.invalid && (isAgree.touched || isAgree.dirty) || isFormSubmitted">
                <span *ngIf="isAgree.errors?.['required']">Select the terms and conditions</span>
            </div>

        </div>
    </div>
    <div class="col-12">
        {{userForm.form.valid}}
        <button class="btn btn-primary" type="button" (click)="onSubmitted(userForm)">Submit form</button>
    </div>
</form>