<app-attribute-directive></app-attribute-directive>

<app-templatereference #child></app-templatereference>
<button (click)="child.greetMe()">Click to see magic </button>

<app-structural-directive #display></app-structural-directive>
<button (click)="display.onActive()">Click to remove the above text</button>
<app-structural-directive ></app-structural-directive>

<h2>Track By ngFor</h2>
<input 
    type="text"
    placeholder="country you want to visit"
    #addCountry
>
<button (click)="OnAddCountry(addCountry.value)">Submit</button><br> <br>
<label for="country">Select the country</label>
<select name="county" id="country">
    <option value="" disabled selected>--country--</option>
    <option *ngFor="let c of countries ">{{c}}</option>
</select>

<button (click)="onAssign()">Assign</button>
<div>
    <p *ngFor="let sub of subjects trackBy:trackById">{{sub.id}} - {{sub.name}}</p>
</div>

