<!-- app.component.html -->
<h1>RxJS Observables</h1>
<div class="items" *ngFor="let item of data">{{item}}</div>
<!-- <button (click)="getAsyncData()">Get Data</button> -->
<!-- <button (click)="asyncData()">Observables Using of Opeator</button> -->
<!-- <button (click)="asyncData()">Observables Using from Opeator</button> -->

<div id="container">

</div>
<button #event>Raise an Event</button>
<app-map-operator></app-map-operator>

<h1>Subject in RxJS</h1>
<app-new-task>

</app-new-task>
<app-show-task></app-show-task>
<!-- <app-subject></app-subject>
<app-behavioural-subject></app-behavioural-subject>
<app-replay-subject></app-replay-subject> -->
<app-async-subject></app-async-subject>
<app-unsubscribe></app-unsubscribe>